@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=IM+Fell+Double+Pica:ital@0;1&family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import 'daisyui/dist/full.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-txt {
    @apply text-black dark:text-white;
  }
}

html,
body,
#root,
.app,
.content {
  width: 100%;
  font-family: "Lora", sans-serif;
  font-size: 18px;
  color: #484541;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .font-pica-fell {
  font-family: 'IM FELL Double Pica SC', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: #484541;
}
label, h2, h3, h4 {
  letter-spacing: 1px;
}
label.checkbox {
  letter-spacing: inherit;
}

button {
  cursor: pointer;
}

.prose {
  font-size:1.2rem;
  max-width: 100ch;
  
}

/* MTS Additions */
/* Using this to so I can reference as vars for light/dark theme backgrounds in tailwind.config */
:root {
  --background-light: #FDFBEA;
  --background-dark: linear-gradient(191deg, #e4e4e7 0%, #52525B 70%, #52525B 100%);
}

body[data-theme="light"] {
  background-color: var(--background-light);
}

body[data-theme="dark"] {
  background-image: var(--background-dark);
}

body[data-theme="dark"] .input {
  color: white;
}

/* Override font-fell for inputs */
input, textarea {
  font-family: 'Font Name', serif !important;
}

.my-important-class {
  @apply !important;
}

.group:hover .group-hover\:opacity-100 {
  /*opacity: 100%;*/
}

/* Btn colors not part of theme that I use in my Button component */
.btn-white {
  background-color: white;
  color: black;
}

.btn-black {
  background-color: black;
  color: white;
}

.talk-box-arrow:before {
  content: "";
  position: absolute;
  display: inline-block;
  right: -34px;
  bottom: 40px;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-left: 18px solid #ffffff;
  border-bottom: 18px solid transparent;
  z-index: 40;
}

/* PageHeader for Tile view with background image */
.page-header {
  background: url('/src/assets/parallax/HeaderBackground.png') no-repeat center center;
  background-size: cover;
}

/*
  Work around to prose class customization not figured out yet in tailwind config file
  Where I used the innerHtml rendering, add the embedded-html class
*/
.embedded-html h1 {
  @apply text-accent;
}

.embedded-html h2 {
  @apply text-accent;
}

.embedded-html h3 {
  @apply text-accent;
}

.embedded-html h4 {
  @apply text-accent;
}

.embedded-html h5 {
  @apply text-accent;
}

/* Had to use this instead of using text-txt -- apply not playing properly with jit compiler ??
   Works with daisyui's defined color names but the custome color names no bueno -- I can dig into this (much) later
 */
/*.embedded-html p {*/
/*  @apply text-txt;*/
/*}*/
.embedded-html p {
  color: black;
}

body[data-theme="dark"] .embedded-html p {
  color: white;
}


/* Bubble Text for SeniorCoco */
.bubble {
  position: relative;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  bottom: 80px; /* Adjust this value to move the bubble above the image */
}

.bubble:after {
  content: '';
  position: absolute;
  bottom: -10px; /* Adjusted: Changes the position of the arrow */
  left: 75%; /* Adjust as needed to position the arrow horizontally */
  border: 10px solid transparent;
  border-top-color: white; /* Adjusted: Changes the arrow direction to point upwards */
  border-bottom: 0;
}

/* For side pannel buttons to take on dero shape */
.hexagon {
  position: relative;
  width: 100px;
  padding-bottom: 115px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  overflow: hidden;
}

.hex-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}

/* For use in inline styling
   NOTE - 1/14/24 -- Changed name from hidden to hidden-class as I it was messing with tailwind hidden class for responsiveness
                  -- have NOT gone thru to find where I was using it to fix/adjust this - might be obsolete, but if not, find them
*/
.hidden-class {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Override dark mode styles for radio buttons with class "my-radio" */
.my-radio {
  background-color: white !important;
  color: red !important;
}

.my-radio:checked {
  background-color: red !important;
  color: white  !important;
}

.subscribe {
  border: 2px groove rgb(88, 85, 85,0.2);
  border-radius: 5px;
}

/* Tile hover & transition effects
  - need wrapper so tile-detail sits behind/tile
  - the 'hove' will transition to show tile detail
*/
.tile-wrapper {
  position: relative;
  cursor: pointer;
  border-radius: 0.375rem; /* Tailwind's 'rounded-md' */
  transition: all 0.3s ease;
}

.tile {
  position: relative;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.tile-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.6s ease, transform 0.6s ease;
  /*transform: translateY(100%);*/
  z-index: 2;
}

.tile-wrapper:hover .tile-detail {
  /*transform: translateY(0);*/
  opacity: 1;
  visibility: visible;
  pointer-events: all; /* Allows click events when visible */
}

.tile-wrapper:hover .tile {
  opacity: 0; /* This should hide the Tile component on hover */
}

/* if I want to truncate text on a tile but let it wrap to more than one line */
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Number of lines b4 ellipsis */
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
}

/* Updates from Red */

.bg-homepage-fade:before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
  background: url('src/assets/images/homePage/cloudblur.png');
  z-index: 10;
}